@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import "tailwindcss";
@tailwind utilities;


@theme {
  --color-background: #ffffff;
  --color-secondary: #4caf50;
  --color-gray:#C4C4C4;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-amarante: "Amarante", serif;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* optional: adds a slight slide effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* start hidden */
  animation: fadeIn 0.8s ease-out forwards; 
}

:root{
  background-color: #F0FFF4;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

@keyframes move-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes move-left {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.animate-right {
  animation: move-right 20s linear infinite;
}

.animate-left {
  animation: move-left 20s linear infinite;
}

.group-hover\:pause-animation:hover {
  animation-play-state: paused !important;
}

/* Mask for fade effect */
#testimonial {
  width: 100%;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}
